/* General Navbar Styles */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 40px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .search-bar {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 700px;
    flex-grow: 1;
  }
  
  .search-bar input,
  .search-bar select {
    margin: 0 10px;
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
  }
  
  .date-input {
    border-radius: 50px;
  }
  
  .who-input {
    width: 80px;
    border-radius: 50px;
    padding-left: 45px; /* Adjust padding to fit "Who" label */
    position: relative;
  }
  
  .who-input::before {
    content: 'Who';
    position: absolute;
    left: 10px; /* Adjust the position of the label */
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 0.9rem;
  }
  
  .search-button {
    background-color: #ff385c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button i {
    font-size: 1rem;
  }
  
  .search-button:hover {
    background-color: #e31e45;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .profile-icon {
    color: #000;
  }
  
  .dropdown-menu {
    min-width: 200px;
  }
  
  .dropdown-menu .dropdown-item {
    padding: 10px 15px;
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between elements */
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allows this div to grow and take available space */
  }
  
  .search-container {
    flex-grow: 2; /* Allows the search container to take more space if needed */
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    font-size: xx-large;
    cursor: pointer;
    margin-left: auto; /* Pushes the icon to the right side */
  }
  